<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">

</head>
<body>

<div class="container my-2">
    <h1>Users List</h1>

    <table border="1" class = "table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>
                User Id</a>
            </th>

            <th>
                User First Name</a>
            </th>
            <th>
                User Last Name</a>
            </th>
            <th>
                User Email</a>
            </th>
            <th> Action </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${listOfUsers}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.firstName}"></td>
            <td th:text="${user.lastName}"></td>
            <td th:text="${user.email}"></td>
            <td> <a th:href="@{/users/delete/{id}(id=${user.id})}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>

    <a th:href = "@{/}"> Back to the main page</a>
</div>
</body>
</html>