<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">

</head>
<body>

<div class="container my-2">
    <h1>Success!</h1>



    <h3  style="color:#dc143c">

        You create an order!
    </h3>

    <td> <a th:href="@{/orders/show}" class="btn btn-primary">My orders</a>
    <a th:href = "@{/}" class="btn btn-primary"> Back to the shopping</a>
</div>
</body>
</html>